<app-default-login-layout
    title="Crie a sua conta"
    btnText="Cadastrar"
    (submit)="submit()"
    [disableBtn]="!signupForm.valid"
>

    <form [formGroup]="signupForm">
        <app-primary-input
            formControlName="name"
            type="text"
            placeholder="Nome"
            >
        </app-primary-input>
        <app-primary-input
            formControlName="email"
            type="email"
            placeholder="E-mail"
            >
        </app-primary-input>
        <app-primary-input
            formControlName="password"
            type="password"
            placeholder="Senha"
            >
            <fa-icon [icon]="faEye" size="lg"></fa-icon>
        </app-primary-input>
        <app-primary-input
            formControlName="passwordConfirm"
            type="password"
            placeholder="Confirme a Senha"
            >
            <fa-icon [icon]="faEye" size="lg"></fa-icon>
        </app-primary-input>
    </form>

</app-default-login-layout>