@import "../../../styles/variables.scss";

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

fa-icon  {
    width: 24px;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    color: $primary-color;
    text-align: center;
}

span {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: $primary-color;
    margin-top: -10px;
}