@import "../../../styles/variables.scss";

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    height: 100vh;
}

.image-section {
    display: flex;
    flex-grow: 0.3;
    overflow: hidden;
    max-width: 700px;

    img {
        width: 100%;
        object-fit: cover;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}

.form-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 34px;

    button {
        background-color: $primary-color;
        color: $tertiary-color;
        border: none;
        font-size: 16px;
        padding: 17px 140px;
        border-radius: 30px;
        cursor: pointer;

        &:disabled {
          background-color: $primary-color-dark;
          cursor: default;
        }
    }

    nav {
        padding-bottom: 10px;
        ul {
          display: flex;
          gap: 50px;
          
          li {
            list-style: none;
            
            a {
              text-decoration: none;
              color: inherit;
              position: relative;
              font-weight: 400;
            }
      
            a.active {
              color: $primary-color;
              font-weight: 600;
              cursor: default;

              &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -8px;
                width: 120%;
                height: 2px;
                background-color: $primary-color;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
}